/* Estilos generales */
body {
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    margin: 0;
    padding: 0;
  }
  
  .header {
    background-color: white;
    color: white;
    padding: 20px;
    text-align: center;
  }
  
  .nav-links {
    list-style: none;
    display: flex;
    align-items: center;
    gap: 20px;
    margin: 0;
    padding: 0;
  }
  
  .nav-links a {
    text-decoration: none;
    color: #333;
    transition: color 0.3s ease;
  }
  
  .nav-links a:hover {
    color: #f39c12;
  }  
  /* Resto de los estilos... */
    
  /* Estilos para el formulario de inserción de usuario */
  .admin-container {
    max-width: 800px;
    margin: 40px auto;
    padding: 20px;
    background-color: #fff;
    border: 1px solid #ccc;
    border-radius: 5px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    text-align: center;
  }
  
  .admin-title {
    font-size: 24px;
    margin-bottom: 20px;
    color: #333;
  }
  
  .insert-user-form {
    max-width: 400px;
    margin: 0 auto;
  }
  
  .insert-user-form label {
    display: block;
    margin-bottom: 8px;
    color: #333;
    font-weight: bold;
  }
  
  .insert-user-form input {
    width: 100%;
    padding: 10px;
    margin-bottom: 20px;
    border: 1px solid #ccc;
    border-radius: 5px;
  }
  
  .admin-option {
    background-color: #2980b9;
    color: white;
    padding: 10px 20px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    font-size: 16px;
    transition: background-color 0.3s ease;
  }
  
  .admin-option:hover {
    background-color: #2471a3;
  }
  
  /* Estilos para el pie de página */
  .footer {
    background-color: #232323;
    color: white;
    text-align: center;
    padding: 10px 0;
    position: absolute;
    bottom: 0;
    width: 100%;
  }
  