<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>SecureCitySjr - Prevención y Seguridad en San Juan del Río, Querétaro</title>
    <link rel="stylesheet" href="/estilos/styles.css">
    <link href="https://fonts.googleapis.com/css2?family=Roboto:wght@400;700&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.4/css/all.min.css">
    <script src="/estilos/scripts.js" defer></script>
</head>
<body>
    <header class="barra-botones">
        <div class="logo-container">
            <a href="/inicio">
                <img src="/imagenes/logosinfondo.png" alt="Logo de SecureCitySjr">
            </a>
        </div>
        <div class="lista">
            <ul>
                <li><a href="/inicio">INICIO</a></li>
                <li><a href="/prevencion">PREVENCIÓN</a></li>
                <li><a href="/reportadelito">REPORTA UN DELITO</a></li>
                <li><a href="/nosotros">NOSOTROS</a></li>
            </ul>
        </div>
        <div class="busqueda-barra">
            <form action="/buscar" method="GET" class="form-inline">
                <input type="text" name="q" class="form-control mr-sm-2" placeholder="Buscar...">
                <button type="submit" class="btn btn-primary">Buscar</button>
            </form>
        </div>
        <div class="usuario">
            <i class="fas fa-user icono-usuario"></i>
            <div class="opciones-usuario">
                <a href="/registro">Regístrate</a>
                <a href="/login">Iniciar Sesión</a>
            </div>
            <div class="iniciar-sesion-texto">Iniciar Sesión</div>
        </div>
    </header>
    
    <section class="slider">
        <div class="slider-container">
            <img src="/imagenes/sanjuan.jpeg" alt="Imagen 1">
        </div>
        <div class="texto-imagen">
            <h2>SecureCitySJR</h2>
            <p>Descubre nuestra plataforma dedicada a mantenerte informado sobre los patrones de robos en tu zona. Nuestra misión es mejorar la seguridad en San Juan del Río, Querétaro, brindándote datos actualizados y consejos prácticos para protegerte a ti y a tus seres queridos.</p>
            <a href="/nosotros" class="boton-scroll">Conoce más sobre nosotros</a>
        </div>
    </section>
    <section class="foco-rojo-section">
        <i class="fas fa-exclamation-triangle"></i>
        <h2>Foco Rojo</h2>
        <form class="formulario-foco-rojo">
            <label for="colonias">Selecciona una colonia:</label>
            <select id="colonias" name="colonias">
                <option value="floresta">Floresta</option>
                <option value="bellavista">Bellavista</option>
<option value="lomasdesanjuan">Lomas de san juan</option>
<option value="centro">Centro</option>
<option value="lallave">La llave</option>
<option value="pedregoso">pedregoso</option>
<option value="indeco">indeco</option>
<option value="lapeña">la peña</option>
<option value="sanisidro">San Isidro</option>
<option value="vistahermosa">vista hermosa</option>
<option value="villasdelroble">Villas del Roble</option>
<option value="rinconadajardines">Rincónada Jardines</option>
<option value="lasjuntas">Las Juntas</option>
<option value="colinasdelcimatario">Colinas del Cimatario</option>
<option value="vallealamos">Valle Álamos</option>
<option value="vallealpino">Valle Alpino</option>
<option value="coloniaimperial">Colonia Imperial</option>
<option value="santaclara">Santa Clara</option>
<option value="valledeoro">Valle de Oro</option>
<option value="fraccionamientohadas">Fraccionamiento Hadas</option>
<option value="residencialdelvalle">Residencial del Valle</option>
<option value="elcarmen">El Carmen</option>
<option value="paseosdelsol">Paseos del Sol</option>
<option value="fraccionamientoprimavera">Fraccionamiento Primavera</option>
<option value="sanpedrito">San Pedrito</option>
<option value="pedregal">Pedregal</option>
<option value="lomasdesanjuan">Lomas de San Juan</option>
<option value="huertaselsaucito">Huertas El Saucito</option>
<option value="ampliacionbellavista">Ampliación Bellavista</option>
<option value="paseosdelacolina">Paseos de la Colina</option>
<option value="haciendadelsol">Hacienda del Sol</option>
<option value="elrodeo">El Rodeo</option>
</select>

            
            </select>

            <label for="delitos">Selecciona un delito:</label>
            <select id="delitos" name="delitos">
            <!-- Delitos con Violencia -->
<option value="robo-transeunte-violencia">Robo a Transeúnte con Violencia</option>
<option value="robo-casa-habitacion-violencia">Robo a Casa Habitación con Violencia</option>
<option value="robo-vehiculo-violencia">Robo de Vehículo con Violencia</option>

<!-- Delitos sin Violencia -->
<option value="robo-transeunte-sin-violencia">Robo a Transeúnte sin Violencia</option>
<option value="robo-casa-habitacion-sin-violencia">Robo a Casa Habitación sin Violencia</option>
<option value="robo-vehiculo-sin-violencia">Robo de Vehículo sin Violencia</option>


                <!-- Agrega más opciones de delitos aquí -->
            </select>
            <script>
                document.addEventListener("DOMContentLoaded", function() {
                    const indiceResult = document.getElementById("indice");
                    const resultadoIndice = document.querySelector(".resultado-indice");
        
                    const datosIndice = {
    lomasdesanjuan: {
        "robo-transeunte-violencia": Math.floor(Math.random() * 30),
        "robo-transeunte-sin-violencia": Math.floor(Math.random() * 30),
        "robo-vehiculo-violencia": Math.floor(Math.random() * 30),
        "robo-vehiculo-sin-violencia": Math.floor(Math.random() * 30),
        "robo-casa-habitacion-violencia": Math.floor(Math.random() * 30),
        "robo-casa-habitacion-sin-violencia": Math.floor(Math.random() * 30),
    },
    centro: {
        "robo-transeunte-violencia": Math.floor(Math.random() * 30),
        "robo-transeunte-sin-violencia": Math.floor(Math.random() * 30),
        "robo-vehiculo-violencia": Math.floor(Math.random() * 30),
        "robo-vehiculo-sin-violencia": Math.floor(Math.random() * 30),
        "robo-casa-habitacion-violencia": Math.floor(Math.random() * 30),
        "robo-casa-habitacion-sin-violencia": Math.floor(Math.random() * 30),
    },
    lallave: {
        "robo-transeunte-violencia": Math.floor(Math.random() * 30),
        "robo-transeunte-sin-violencia": Math.floor(Math.random() * 30),
        "robo-vehiculo-violencia": Math.floor(Math.random() * 30),
        "robo-vehiculo-sin-violencia": Math.floor(Math.random() * 30),
        "robo-casa-habitacion-violencia": Math.floor(Math.random() * 30),
        "robo-casa-habitacion-sin-violencia": Math.floor(Math.random() * 30),
    },
    pedregoso: {
        "robo-transeunte-violencia": Math.floor(Math.random() * 30),
        "robo-transeunte-sin-violencia": Math.floor(Math.random() * 30),
        "robo-vehiculo-violencia": Math.floor(Math.random() * 30),
        "robo-vehiculo-sin-violencia": Math.floor(Math.random() * 30),
        "robo-casa-habitacion-violencia": Math.floor(Math.random() * 30),
        "robo-casa-habitacion-sin-violencia": Math.floor(Math.random() * 30),
    },
    indeco: {
        "robo-transeunte-violencia": Math.floor(Math.random() * 30),
        "robo-transeunte-sin-violencia": Math.floor(Math.random() * 30),
        "robo-vehiculo-violencia": Math.floor(Math.random() * 30),
        "robo-vehiculo-sin-violencia": Math.floor(Math.random() * 30),
        "robo-casa-habitacion-violencia": Math.floor(Math.random() * 30),
        "robo-casa-habitacion-sin-violencia": Math.floor(Math.random() * 30),
    },
    lapeña: {
        "robo-transeunte-violencia": Math.floor(Math.random() * 30),
        "robo-transeunte-sin-violencia": Math.floor(Math.random() * 30),
        "robo-vehiculo-violencia": Math.floor(Math.random() * 30),
        "robo-vehiculo-sin-violencia": Math.floor(Math.random() * 30),
        "robo-casa-habitacion-violencia": Math.floor(Math.random() * 30),
        "robo-casa-habitacion-sin-violencia": Math.floor(Math.random() * 30),
    },
    sanisidro: {
        "robo-transeunte-violencia": Math.floor(Math.random() * 30),
        "robo-transeunte-sin-violencia": Math.floor(Math.random() * 30),
        "robo-vehiculo-violencia": Math.floor(Math.random() * 30),
        "robo-vehiculo-sin-violencia": Math.floor(Math.random() * 30),
        "robo-casa-habitacion-violencia": Math.floor(Math.random() * 30),
        "robo-casa-habitacion-sin-violencia": Math.floor(Math.random() * 30),
    },
    vistahermosa: {
        "robo-transeunte-violencia": Math.floor(Math.random() * 30),
        "robo-transeunte-sin-violencia": Math.floor(Math.random() * 30),
        "robo-vehiculo-violencia": Math.floor(Math.random() * 30),
        "robo-vehiculo-sin-violencia": Math.floor(Math.random() * 30),
        "robo-casa-habitacion-violencia": Math.floor(Math.random() * 30),
        "robo-casa-habitacion-sin-violencia": Math.floor(Math.random() * 30),
    },
    villasdelroble: {
        "robo-transeunte-violencia": Math.floor(Math.random() * 30),
        "robo-transeunte-sin-violencia": Math.floor(Math.random() * 30),
        "robo-vehiculo-violencia": Math.floor(Math.random() * 30),
        "robo-vehiculo-sin-violencia": Math.floor(Math.random() * 30),
        "robo-casa-habitacion-violencia": Math.floor(Math.random() * 30),
        "robo-casa-habitacion-sin-violencia": Math.floor(Math.random() * 30),
    },
    rinconadajardines: {
        "robo-transeunte-violencia": Math.floor(Math.random() * 30),
        "robo-transeunte-sin-violencia": Math.floor(Math.random() * 30),
        "robo-vehiculo-violencia": Math.floor(Math.random() * 30),
        "robo-vehiculo-sin-violencia": Math.floor(Math.random() * 30),
        "robo-casa-habitacion-violencia": Math.floor(Math.random() * 30),
        "robo-casa-habitacion-sin-violencia": Math.floor(Math.random() * 30),
    },
    lasjuntas: {
        "robo-transeunte-violencia": Math.floor(Math.random() * 30),
        "robo-transeunte-sin-violencia": Math.floor(Math.random() * 30),
        "robo-vehiculo-violencia": Math.floor(Math.random() * 30),
        "robo-vehiculo-sin-violencia": Math.floor(Math.random() * 30),
        "robo-casa-habitacion-violencia": Math.floor(Math.random() * 30),
        "robo-casa-habitacion-sin-violencia": Math.floor(Math.random() * 30),
    },
    colinasdelcimatario: {
        "robo-transeunte-violencia": Math.floor(Math.random() * 30),
        "robo-transeunte-sin-violencia": Math.floor(Math .random() * 30),
        "robo-vehiculo-violencia": Math.floor(Math.random() * 30),
        "robo-vehiculo-sin-violencia": Math.floor(Math.random() * 30),
        "robo-casa-habitacion-violencia": Math.floor(Math.random() * 30),
        "robo-casa-habitacion-sin-violencia": Math.floor(Math.random() * 30),
    },
    vallealamos: {
        "robo-transeunte-violencia": Math.floor(Math.random() * 30),
        "robo-transeunte-sin-violencia": Math.floor(Math.random() * 30),
        "robo-vehiculo-violencia": Math.floor(Math.random() * 30),
        "robo-vehiculo-sin-violencia": Math.floor(Math.random() * 30),
        "robo-casa-habitacion-violencia": Math.floor(Math.random() * 30),
        "robo-casa-habitacion-sin-violencia": Math.floor(Math.random() * 30),
    },
    vallealpino: {
        "robo-transeunte-violencia": Math.floor(Math.random() * 30),
        "robo-transeunte-sin-violencia": Math.floor(Math.random() * 30),
        "robo-vehiculo-violencia": Math.floor(Math.random() * 30),
        "robo-vehiculo-sin-violencia": Math.floor(Math.random() * 30),
        "robo-casa-habitacion-violencia": Math.floor(Math.random() * 30),
        "robo-casa-habitacion-sin-violencia": Math.floor(Math.random() * 30),
    },
    coloniaimperial: {
        "robo-transeunte-violencia": Math.floor(Math.random() * 30),
        "robo-transeunte-sin-violencia": Math.floor(Math.random() * 30),
        "robo-vehiculo-violencia": Math.floor(Math.random() * 30),
        "robo-vehiculo-sin-violencia": Math.floor(Math.random() * 30),
        "robo-casa-habitacion-violencia": Math.floor(Math.random() * 30),
        "robo-casa-habitacion-sin-violencia": Math.floor(Math.random() * 30),
    },
    santaclara: {
        "robo-transeunte-violencia": Math.floor(Math.random() * 30),
        "robo-transeunte-sin-violencia": Math.floor(Math.random() * 30),
        "robo-vehiculo-violencia": Math.floor(Math.random() * 30),
        "robo-vehiculo-sin-violencia": Math.floor(Math.random() * 30),
        "robo-casa-habitacion-violencia": Math.floor(Math.random() * 30),
        "robo-casa-habitacion-sin-violencia": Math.floor(Math.random() * 30),
    },
    valledeoro: {
        "robo-transeunte-violencia": Math.floor(Math.random() * 30),
        "robo-transeunte-sin-violencia": Math.floor(Math.random() * 30),
        "robo-vehiculo-violencia": Math.floor(Math.random() * 30),
        "robo-vehiculo-sin-violencia": Math.floor(Math.random() * 30),
        "robo-casa-habitacion-violencia": Math.floor(Math.random() * 30),
        "robo-casa-habitacion-sin-violencia": Math.floor(Math.random() * 30),
    },
    fraccionamientohadas: {
        "robo-transeunte-violencia": Math.floor(Math.random() * 30),
        "robo-transeunte-sin-violencia": Math.floor(Math.random() * 30),
        "robo-vehiculo-violencia": Math.floor(Math.random() * 30),
        "robo-vehiculo-sin-violencia": Math.floor(Math.random() * 30),
        "robo-casa-habitacion-violencia": Math.floor(Math.random() * 30),
        "robo-casa-habitacion-sin-violencia": Math.floor(Math.random() * 30),
    },
    residencialdelvalle: {
        "robo-transeunte-violencia": Math.floor(Math.random() * 30),
        "robo-transeunte-sin-violencia": Math.floor(Math.random() * 30),
        "robo-vehiculo-violencia": Math.floor(Math.random() * 30),
        "robo-vehiculo-sin-violencia": Math.floor(Math.random() * 30),
        "robo-casa-habitacion-violencia": Math.floor(Math.random() * 30),
        "robo-casa-habitacion-sin-violencia": Math.floor(Math.random() * 30),
    },
    elcarmen: {
        "robo-transeunte-violencia": Math.floor(Math.random() * 30),
        "robo-transeunte-sin-violencia": Math.floor(Math.random() * 30),
        "robo-vehiculo-violencia": Math.floor(Math.random() * 30),
        "robo-vehiculo-sin-violencia": Math.floor(Math.random() * 30),
        "robo-casa-habitacion-violencia": Math.floor(Math.random() * 30),
        "robo-casa-habitacion-sin-violencia": Math.floor(Math.random() * 30),
    },
    paseosdelsol: {
        "robo-transeunte-violencia": Math.floor(Math.random() * 30),
        "robo-transeunte-sin-violencia": Math.floor(Math.random() * 30),
        "robo-vehiculo-violencia": Math.floor(Math.random() * 30),
        "robo-vehiculo-sin-violencia": Math.floor(Math.random() * 30),
        "robo-casa-habitacion-violencia": Math.floor(Math.random() * 30),
        "robo-casa-habitacion-sin-violencia": Math.floor(Math.random() * 30),
    },
    fraccionamientoprimavera: {
        "robo-transeunte-violencia": Math.floor(Math.random() * 30),
        "robo-transeunte-sin-violencia": Math.floor(Math.random() * 30),
        "robo-vehiculo-violencia": Math.floor(Math.random() * 30),
        "robo-vehiculo-sin-violencia": Math.floor(Math.random() * 30),
        "robo-casa-habitacion-violencia": Math.floor(Math.random() * 30),
        "robo-casa-habitacion-sin-violencia": Math.floor(Math.random() * 30),
    },
    sanpedrito: {
        "robo-transeunte-violencia": Math.floor(Math.random() * 30),
        "robo-transeunte-sin-violencia": Math.floor(Math.random() * 30),
        "robo-vehiculo-violencia": Math.floor(Math.random() * 30),
        "robo-vehiculo-sin-violencia": Math.floor(Math.random() * 30),
        "robo-casa-habitacion-violencia": Math.floor(Math.random() * 30),
        "robo-casa-habitacion-sin-violencia": Math.floor(Math.random() * 30),
    },
    pedregal: {
        "robo-transeunte-violencia": Math.floor(Math.random() * 30),
        "robo-transeunte-sin-violencia": Math.floor(Math.random() * 30),
        "robo-vehiculo-violencia": Math.floor(Math.random() * 30),
        "robo-vehiculo-sin-violencia": Math.floor(Math.random() * 30),
        "robo-casa-habitacion-violencia": Math.floor(Math.random() * 30),
        "robo-casa-habitacion-sin-violencia": Math.floor(Math.random() * 30),
    },
    huertaselsaucito: {
        "robo-transeunte-violencia": Math.floor(Math.random() * 30),
        "robo-transeunte-sin-violencia": Math.floor(Math.random() * 30),
        "robo-vehiculo-violencia": Math.floor(Math.random() * 30),
        "robo-vehiculo-sin-violencia": Math.floor(Math.random() * 30),
        "robo-casa-habitacion-violencia": Math.floor(Math.random() * 30),
        "robo-casa-habitacion-sin-violencia": Math.floor(Math.random() * 30),
    },
    ampliacionbellavista: {
        "robo-transeunte-violencia": Math.floor(Math.random() * 30),
        "robo-transeunte-sin-violencia": Math.floor(Math.random() * 30),
        "robo-vehiculo-violencia": Math.floor(Math.random() * 30),
        "robo-vehiculo-sin-violencia": Math.floor(Math.random() * 30),
        "robo-casa-habitacion-violencia": Math.floor(Math.random() * 30),
        "robo-casa-habitacion-sin-violencia": Math.floor(Math.random() * 30),
    },
    paseosdelacolina: {
        "robo-transeunte-violencia": Math.floor(Math.random() * 30),
        "robo-transeunte-sin-violencia": Math.floor(Math.random() * 30),
        "robo-vehiculo-violencia": Math.floor(Math.random() * 30),
        "robo-vehiculo-sin-violencia": Math.floor(Math.random() * 30),
        "robo-casa-habitacion-violencia": Math.floor(Math.random() * 30),
        "robo-casa-habitacion-sin-violencia": Math.floor(Math.random() * 30),
    },
    haciendadelsol: {
        "robo-transeunte-violencia": Math.floor(Math.random() * 30),
        "robo-transeunte-sin-violencia": Math.floor(Math.random() * 30),
        "robo-vehiculo-violencia": Math.floor(Math.random() * 30),
        "robo-vehiculo-sin-violencia": Math.floor(Math.random() * 30),
        "robo-casa-habitacion-violencia": Math.floor(Math.random() * 30),
        "robo-casa-habitacion-sin-violencia": Math.floor(Math.random() * 30),
    },
    elrodeo: {
        "robo-transeunte-violencia": Math.floor(Math.random() * 30),
        "robo-transeunte-sin-violencia": Math.floor(Math.random() * 30),
        "robo-vehiculo-violencia": Math.floor(Math.random() * 30),
        "robo-vehiculo-sin-violencia": Math.floor(Math.random() * 30),
        "robo-casa-habitacion-violencia": Math.floor(Math.random() * 30),
        "robo-casa-habitacion-sin-violencia": Math.floor(Math.random() * 30),
    },
    // Agrega más colonias con sus 6 delitos aquí...


          // ... Agrega más colonias con sus datos correspondientes
                  };
        
                    const calcularIndiceButton = document.getElementById("calcular-indice");
                    calcularIndiceButton.addEventListener("click", function() {
                        const colonia = document.getElementById("colonias").value;
                        const delito = document.getElementById("delitos").value;
        
                        if (datosIndice[colonia] && datosIndice[colonia][delito]) {
                            const indice = (datosIndice[colonia][delito] / 140) * 100;
                            indiceResult.textContent = indice.toFixed(2) + "%";
                            resultadoIndice.style.display = "block";
                        } else {
                            indiceResult.textContent = "No Hay Incidentes";
                            resultadoIndice.style.display = "block";
                        }
                    });
                });
            </script>

            <button type="button" id="calcular-indice">Calcular Índice</button>
        </form>

        <div class="resultado-indice" style="display: none;">
            <h3>Índice de Peligro</h3>
            <p id="indice">--</p>
        </div>
    </section>
    <section class="informacion-section" id="mas-informacion">
        <div class="texto-central">
            <h2>SecureCitySJR - Prevención y Seguridad</h2>
            <p>En SecureCitySJR, nos comprometemos a ofrecerte información relevante y actualizada sobre la seguridad en San Juan del Río, Querétaro. Nuestra plataforma está diseñada para mantener informada a la comunidad sobre los riesgos y peligros en su entorno, fomentando una cultura de prevención.</p>
            <p>Encuentra datos sobre los delitos más frecuentes en la zona, valiosos consejos para protegerte. Contamos con un equipo multidisciplinario de expertos en seguridad, programadores y comunicadores que trabajan para mejorar la seguridad de nuestra comunidad.</p>
            <p>Únete a nuestra plataforma y contribuye a la seguridad de tu comunidad reportando delitos que hayas presenciado o sido víctima. Juntos, podemos crear un entorno más seguro y protegido para todos.</p>
        </div>
    </section>
    <section class="caracteristicas-section">
        <h2>Características de SecureCitySjr</h2>
        <div class="caracteristicas-container">
           

            <div class="caracteristica">
                <i class="fas fa-map-marked-alt"></i>
                <h3>Monitoreo</h3>
                <p>Obtén información actualizada sobre los patrones de robos y delitos en tu área a tiempo para tomar decisiones informadas.</p>
                <a href="#" class="mostrar-tabla" data-target="narcomenudeo-tabla">Más información</a>
            </div>
            <div class="caracteristica">
                <i class="fas fa-shield-alt"></i>
                <h3>Consejos de seguridad</h3>
                <p>Recibe consejos prácticos y efectivos para protegerte a ti y a tus seres queridos, mejorando tu seguridad personal.</p>
                <a href="#" class="mostrar-tabla" data-target="narcomenudeo-tabla">Más información</a>
            </div>
            <div class="caracteristica">
                <i class="fas fa-search-location"></i>
                <h3>Reporte de delitos</h3>
                <p>Reporta delitos que hayas presenciado o sido víctima para contribuir a la seguridad de tu comunidad.</p>
                
                <a href="#" class="mostrar-delito" data-target="delito">Más información</a>
            </div>

        </div>
    </section>
    <section class="contacto-section">
        <h2>Contacto</h2>
        <p>¿Tienes alguna pregunta o comentario? ¡Contáctanos! Estamos para ayudarte.</p>
        <form class="formulario">
            <label for="nombre">Nombre:</label>
            <input type="text" id="nombre" name="nombre" required>
            <label for="email">Email:</label>
            <input type="email" id="email" name="email" required>
            <label for="mensaje">Mensaje:</label>
            <textarea id="mensaje" name="mensaje" rows="4" required></textarea>
            <button type="submit">Enviar mensaje</button>
        </form>
    </section>
    <section class="contacto-section">
        <h2>Contactanos</h2>
        <p>Recuerda que nosotros en SecureCitySjr estamos para ayudarte.</p>
        <button type="button" class="boton-contacto" onclick="mostrarOpcionesContacto()">Contactar</button>
        <div class="opciones-contacto" style="display: none;">
            <p><i class="fas fa-phone-alt"></i> Teléfono: 123-456-7890</p>
            <p><i class="fas fa-envelope"></i> Email: contacto@securecity.com</p>
        </div>
    </section>
    <section class="faq-section">
        <h2>Preguntas frecuentes</h2>
        <p>Encuentra respuestas a las preguntas más comunes sobre nuestra plataforma y servicios.</p>
        <button type="button" class="boton-preguntas" onclick="mostrarPreguntasFrecuentes()">Ver preguntas frecuentes</button>
        <div class="preguntas-frecuentes" style="display: none;">
            <p>1. ¿Cómo puedo reportar un delito?</p>
            <p>2. ¿Cómo puedo obtener información sobre los patrones de robos en mi zona?</p>
            <p>3. ¿Qué hacer si fui víctima de un robo?</p>
            <p>4. ¿Dónde puedo encontrar consejos de seguridad?</p>
        </div>
    </section>
    <footer class="pie-pagina">
        <p>Derechos de autor © 2023 SecureCitySjr. Todos los derechos reservados.</p>
    </footer>
    <script>
               
        const enlacesMostrarTabla = document.querySelectorAll('.mostrar-tabla');
        enlacesMostrarTabla.forEach(enlace => {
            enlace.addEventListener('click', function(event) {
                event.preventDefault(); // Evita el comportamiento predeterminado del enlace
                const target = enlace.getAttribute('data-target'); // Obtiene el identificador de destino
                window.location.href = `/prevencion#${target}`; // Redirige a la página de "Prevención" con el identificador en la URL
            });
        });
    </script>

<script>
               
    const enlacesMostrarDelito = document.querySelectorAll('.mostrar-delito');
    enlacesMostrarDelito.forEach(enlace => {
        enlace.addEventListener('click', function(event) {
            event.preventDefault(); // Evita el comportamiento predeterminado del enlace
            const target = enlace.getAttribute('data-target'); // Obtiene el identificador de destino
            window.location.href = `/reportadelito#${target}`; // Redirige a la página de "Prevención" con el identificador en la URL
        });
    });
</script>
</body>
</html>
