<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>SecureCitySjr - Prevención y Seguridad en San Juan del Río, Querétaro</title>
    <link rel="stylesheet" href="/estilos/styles.css">
    <link href="https://fonts.googleapis.com/css2?family=Roboto:wght@400;700&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.4/css/all.min.css">
    <script src="/estilos/scripts.js" defer></script>
</head>
<body>
    <header class="barra-botones">
        <div class="logo-container">
            <a href="/inicio">
                <img src="imagenes/logosinfondo.png" alt="Logo de SecureCitySjr">
            </a>
        </div>
        <div class="lista">
            <ul>
                <li><a href="/inicio">INICIO</a></li>
                <li><a href="/prevencion">PREVENCIÓN</a></li>
                <li><a href="/reportadelito">REPORTA UN DELITO</a></li>
                <li><a href="/nosotros">NOSOTROS</a></li>
            </ul>
        </div>
        
        <div class="usuario">
            <i class="fas fa-user icono-usuario"></i>
            <div class="opciones-usuario">
                <a href="/registro">Regístrate</a>
                <a href="/login">Iniciar Sesión</a>
            </div>
        </div>
    </header>
    

      
    <!-- Nueva sección con el objetivo de la página y el resumen de uso -->
    <section class="informacion-section" id="mas-informacion">
        <div class="texto-central">
            <h2>Prevención y Seguridad</h2>
            <p>En SecureCitySJR, nos comprometemos a ofrecerte información relevante y actualizada sobre la seguridad en San Juan del Río, Querétaro. Nuestra plataforma está diseñada para mantener informada a la comunidad sobre los riesgos y peligros en su entorno, fomentando una cultura de prevención.</p>
            <p>Encuentra datos sobre los delitos más frecuentes en la zona, valiosos consejos para protegerte a ti y a tus seres queridos. Contamos con un equipo multidisciplinario de expertos en seguridad, programadores y comunicadores que trabajan para mejorar la seguridad de nuestra comunidad.</p>
            <p>Únete a nuestra plataforma y contribuye a la seguridad de tu comunidad reportando delitos que hayas presenciado o sido víctima. Juntos, podemos crear un entorno más seguro y protegido para todos.</p>
        </div>
    </section>

    <!-- Sección de características de SecureCitySjr -->
    <section class="caracteristicas-section">
        <h2>Características de SecureCitySjr</h2>
        <div class="caracteristicas-container">
            <div class="caracteristica">
                <i class="fas fa-map-marked-alt"></i>
                <h3>Monitoreo</h3>
                <p>Obtén información actualizada sobre los patrones de robos y delitos en tu área a tiempo para tomar decisiones informadas.</p>
            </div>
            <div class="caracteristica">
                <i class="fas fa-shield-alt"></i>
                <h3>Consejos de seguridad</h3>
                <p>Recibe consejos prácticos y efectivos para protegerte a ti y a tus seres queridos, mejorando tu seguridad personal.</p>
            </div>
            <div class="caracteristica">
                <i class="fas fa-search-location"></i>
                <h3>Reporte de delitos</h3>
                <p>Reporta delitos que hayas presenciado o sido víctima para contribuir a la seguridad de tu comunidad.</p>
            </div>
        </div>
    </section>

    <!-- Sección de cómo prevenir un delito -->
<section class="prevencion-section">
    <div class="importancia-delitos">
        <h2>¿Cómo prevenimos un delito?</h2>
        <p style="text-align: justify;">La importancia de prevenir delitos radica en su profundo impacto en la sociedad y en el bienestar de las comunidades. Cuando se establecen estrategias efectivas de prevención, se promueve un entorno seguro que contribuye a mejorar la calidad de vida de las personas y a fomentar un desarrollo social y económico sostenible. Además, la prevención de delitos tiene implicaciones positivas en la salud mental y emocional de los ciudadanos, al reducir la sensación de inseguridad y ansiedad.</p>
        <p style="text-align: justify;">La relación entre la prevención de delitos y el desarrollo social y económico es evidente. Las áreas con bajos índices de delincuencia son más atractivas para la inversión y el crecimiento empresarial, lo que a su vez genera empleos y oportunidades para la comunidad. Este ciclo virtuoso de desarrollo contribuye a una mejora significativa en la calidad de vida de los habitantes.</p>
        <p style="text-align: justify;">Aqui te mostramos algunas recomendaciones acerca de tipos de delitos mas frecuentes</p>
        <table class="tabla-prevencion" id="tabla-prevencion">
            <tr>
                <th>Tipo de Delito</th>
                <th>Consejos para Prevenir</th>
            </tr>
            <tr>
                <td>Extorsiones</td>
                <td>
                    <ul>
                        <li>Mantén información personal segura y no compartas datos sensibles por teléfono o internet.</li>
                        <li>Desconfía de llamadas o mensajes de desconocidos que soliciten información personal o económica.</li>
                        <li>No hagas clic en enlaces sospechosos o descargues archivos adjuntos de fuentes no confiables.</li>
                        <li>Si recibes una amenaza, comunica el incidente a las autoridades de manera inmediata.</li>
                    </ul>
                </td>
            </tr>
            <tr>
                <td>Robo a Transeúnte con Violencia</td>
                <td>
                    <ul>
                        <li>Camina por calles bien iluminadas y evita áreas peligrosas durante la noche.</li>
                        <li>Lleva solo lo necesario y evita mostrar objetos de valor en público.</li>
                        <li>Mantén tus pertenencias cerca de ti y protegidas, especialmente en lugares concurridos.</li>
                        <li>Utiliza rutas conocidas y evita atajos poco iluminados o solitarios.</li>
                    </ul>
                </td>
            </tr>
            <tr>
                <td>Robo de Vehículo con Violencia</td>
                <td>
                    <ul>
                        <li>Estaciona en áreas seguras y visibles, preferiblemente en estacionamientos vigilados.</li>
                        <li>Utiliza sistemas de seguridad como alarmas, sistemas antirrobo y seguros de volante.</li>
                        <li>Evita dejar objetos de valor a la vista en el interior del vehículo.</li>
                        <li>Siempre cierra las ventanas y asegura las puertas al estacionar.</li>
                    </ul>
                </td>
            </tr>
            <tr>
                <td>Narcomenudeo</td>
                <td>
                    <ul>
                        <li>Reporta actividades sospechosas a las autoridades y evita lugares conocidos por su venta de drogas.</li>
                        <li>Establece comunicación abierta con tus hijos para educarlos sobre los peligros de las drogas.</li>
                        <li>Fomenta la participación en actividades recreativas y deportivas para mantener a los jóvenes ocupados.</li>
                        <li>Apoya programas de prevención y rehabilitación en tu comunidad.</li>
                    </ul>
                </td>
            </tr>
            <tr>
                <td>Fraudes en Línea</td>
                <td>
                    <ul>
                        <li>No compartas información personal o financiera en sitios web no seguros o correos electrónicos no verificados.</li>
                        <li>Utiliza contraseñas fuertes y cambia tus contraseñas regularmente.</li>
                        <li>Verifica la autenticidad de los sitios web antes de realizar compras en línea.</li>
                        <li>Actualiza regularmente tu software y sistemas de seguridad en línea.</li>
                    </ul>
                </td>
            </tr>
            <!-- Agrega más tipos de delitos y consejos si es necesario -->
        </table>
        </table>
    </div>
    
</section>

   <!--
    <div class="imagenmapa">
        <img src="securecity/public/imagenes/simulador-mapa.png" alt="mapa sjr">
    </div>
   --> 

    <!-- Resto del contenido de la página -->
    <section class="contacto-section">
        <h2>Contacto</h2>
        <p>¿Tienes alguna pregunta o comentario? ¡Contáctanos! Estamos para ayudarte.</p>
        <form class="formulario">
            <label for="nombre">Nombre:</label>
            <input type="text" id="nombre" name="nombre" required>
            <label for="email">Email:</label>
            <input type="email" id="email" name="email" required>
            <label for="mensaje">Mensaje:</label>
            <textarea id="mensaje" name="mensaje" rows="4" required></textarea>
            <button type="submit">Enviar mensaje</button>
        </form>
        
    </section>
    <!-- Sección de contacto -->
    <section class="contacto-section">
        <h2>Contactanos</h2>
        <p>Recuerda Que Nosotros en SecureCitySjr Estamos para ayudarte.</p>
        <button type="button" class="boton-contacto" onclick="mostrarOpcionesContacto()">Contactar</button>
        <div class="opciones-contacto" style="display: none;">
            <p><i class="fas fa-phone-alt"></i> Teléfono: 123-456-7890</p>
            <p><i class="fas fa-envelope"></i> Email: contacto@securecity.com</p>
        </div>
    </section>
   
    <!-- Sección de preguntas frecuentes -->
    <section class="faq-section">
        <h2>Preguntas frecuentes</h2>
        <p>Encuentra respuestas a las preguntas más comunes sobre nuestra plataforma y servicios.</p>
        <button type="button" class="boton-preguntas" onclick="mostrarPreguntasFrecuentes()">Ver preguntas frecuentes</button>
        <div class="preguntas-frecuentes" style="display: none;">
            <p>1. ¿Cómo puedo reportar un delito?</p>
            <p>2. ¿Cómo puedo obtener información sobre los patrones de robos en mi zona?</p>
            <p>3. ¿Qué hacer si fui víctima de un robo?</p>
            <p>4. ¿Dónde puedo encontrar consejos de seguridad?</p>
        </div>
    </section>
    
    <!-- Pie de página -->
    <footer class="pie-pagina">
        <p>Derechos de autor © 2023 SecureCitySjr. Todos los derechos reservados.</p>
    </footer>
</body>
</html>
